<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/layouts/private.xhtml">

    <ui:define name="top-content">
        <h:form prependId="false">
            <p:commandButton value="#{msgs.search}" actionListener="#{orderDetailsBean.search()}"
                             styleClass="btn btn-blue f-lft" update=":center:table" ajax="true"/>
        </h:form>
    </ui:define>

    <ui:define name="content">
        <h:form id="center">
            <f:view>
                <f:event type="preRenderView" listener="#{orderDetailsBean.init}"/>
            </f:view>
            <p:growl id="poiskGrowl" showDetail="true"/>

            <p:dataTable id="table" var="order" value="#{orderDetailsBean.list}"
                         editable="true" rows="15" rowKey="#{order.id}" lazy="true" multiViewState="true"
                         paginator="true" paginatorPosition="bottom"
                         tableStyleClass="display-table no-border no-bg text-left"
                         paginatorTemplate="{PreviousPageLink} {PageLinks} {NextPageLink} {RowsPerPageDropdown} {CurrentPageReport}">

                <p:column headerText="#{msgs.id}" width="60">
                    <h:outputText value="#{order.id}"/>
                </p:column>
                <p:column headerText="#{msgs.orderid}">
                    <h:outputText value="#{order.orderId}"/>
                </p:column>
                <p:column headerText="#{msgs.fio}">
                    <h:outputText value="#{order.fio}"/>
                </p:column>
                <p:column headerText="#{msgs.flightdate}">
                    <h:outputText value="#{order.flightDate}"/>
                </p:column>
                <p:column headerText="#{msgs.phone}">
                    <h:outputText value="#{order.phone}"/>
                </p:column>
                <p:column headerText="#{msgs.status}">
                    <h:outputText value="#{enums[order.status]}"/>
                </p:column>
                <p:column style="text-align: center; width: 100px">
                    <f:facet name="header">
                        <i class="fa fa-lg fa-gear"/>
                    </f:facet>
                    <p:commandLink action="#{orderDetailsBean.edit(order)}" styleClass="btn-mng" ajax="false">
                        <i class="fa fa-lg fa-pencil"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>
