<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html">

    <ul role="menu">
        <h:panelGroup rendered="#{loginManager.hasRole('admin')}">
            <li>
                <h:link outcome="/admin/users/list.xhtml">
                    <i class="fa fa-users"/>
                    <h:outputText value="#{msgs.users}"/>
                </h:link>
            </li>
            <li>
                <h:link outcome="/admin/category/list.xhtml">
                    <i class="fa fa-clone"/>
                    <h:outputText value="#{msgs.categories}"/>
                </h:link>
            </li>
            <li>
                <h:link outcome="/admin/banners/list.xhtml">
                    <i class="fa fa-bandcamp"/>
                    <h:outputText value="#{msgs.banners}"/>
                </h:link>
            </li>
            <li>
                <h:link outcome="/admin/subcategory/list.xhtml">
                    <i class="fa fa-clone"/>
                    <h:outputText value="#{msgs.subcategories}"/>
                </h:link>
            </li>
            <li>
                <h:link outcome="/admin/country/list.xhtml">
                    <i class="fa fa-map"/>
                    <h:outputText value="#{msgs.countries}"/>
                </h:link>
            </li>
            <li>
                <h:link outcome="/admin/currency/list.xhtml">
                    <i class="fa fa-money"/>
                    <h:outputText value="#{msgs.currencies}"/>
                </h:link>
            </li>
            <li>
                <h:link outcome="/admin/brands/list.xhtml">
                    <i class="fa fa-book"/>
                    <h:outputText value="#{msgs.brands}"/>
                </h:link>
            </li>
            <li>
                <h:link outcome="/admin/tradepoint/list.xhtml">
                    <i class="fa fa-trademark"/>
                    <h:outputText value="#{msgs.tradepoint}"/>
                </h:link>
            </li>
            <li>
                <h:link outcome="/admin/salespoint/list.xhtml">
                    <i class="fa fa-mouse-pointer"/>
                    <h:outputText value="#{msgs.salespoint}"/>
                </h:link>
            </li>
            <li>
                <h:link outcome="/admin/products/list.xhtml">
                    <i class="fa fa-product-hunt"/>
                    <h:outputText value="#{msgs.products}"/>
                </h:link>
            </li>
            <li>
                <h:link outcome="/admin/orders/list.xhtml">
                    <i class="fa fa-first-order"/>
                    <h:outputText value="#{msgs.orders}"/>
                </h:link>
            </li>
        </h:panelGroup>

    </ul>

</ui:composition>