<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ul class="top-content-nav clearfix">
        <li><h:link outcome="/settings/profile" value="#{msgs.profile}"/></li>
        <li><h:link outcome="/settings/password" value="#{msgs.password}"/></li>
        <li><h:link outcome="/settings/phone" value="#{msgs.phoneNumber}"/></li>
        <h:panelGroup rendered="#{loginManager.hasRole('participant')}">
            <li><h:link outcome="/settings/wallets" value="#{msgs.wallet}"/></li>
        </h:panelGroup>
    </ul>

</ui:composition>
