<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

    <div id="profile" class="private">
        <h:panelGroup rendered="#{loginManager.hasRole('admin')}">
            <h:link  styleClass="text-cap">
                <i class="fa fa-lg fa-user f-lft"/>
                <h:panelGroup styleClass="sidebar-user-fullname">
                    #{authBean.checkUser().username}<br/>
                </h:panelGroup>
                <ui:remove>
            <span class="mobile-hide">
                <i class="fa fa-navicon f-rht"/>
            </span>
                </ui:remove>

            </h:link>
        </h:panelGroup>
        <h:panelGroup rendered="#{loginManager.hasRole('superadmin')}">
            <h:link  styleClass="text-cap">
                <i class="fa fa-lg fa-user f-lft"/>
                <h:panelGroup styleClass="sidebar-user-fullname">
                    #{authBean.checkUser().username}<br/>
                </h:panelGroup>
                <ui:remove>
            <span class="mobile-hide">
                <i class="fa fa-navicon f-rht"/>
            </span>
                </ui:remove>

            </h:link>
        </h:panelGroup>
    </div>

    <div class="button_container private" id="toggle">
        <span class="top"/>
        <span class="middle"/>
        <span class="bottom"/>
    </div>

    <div class="menu overlay" id="overlay">

        <div id="menu" class="private">
            <ui:insert name="menu">
                <ui:include src="menu.xhtml"/>
            </ui:insert>
        </div>


        <h:form id="settings" class="private" prependId="false">


            <ul class="lang-bar clearfix">
                <li><i class="fa fa-globe"/></li>
                <li><h:commandLink value="#{msgs.rus}"
                                   action="#{localeManager.changeLocale('ru')}"
                                   styleClass="#{localeManager.locale == 'ru' ? 'lang-current' : ''}"/>
                </li>
                <li><h:commandLink value="#{msgs.eng}"
                                   action="#{localeManager.changeLocale('en')}"
                                   styleClass="#{localeManager.locale == 'en' ? 'lang-current' : ''}"/>
                </li>
            </ul>


            <div class="clear"></div>

            <h:commandLink action="#{loginManager.logout}" styleClass="link-logout">
                <i class="fa fa-sign-out"/>
                <h:outputText value="#{msgs.signOut}"/>
            </h:commandLink>
        </h:form>
    </div>
</ui:composition>