<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:outputStylesheet name="css/default.css"/>
<script type="text/javascript">
    PrimeFaces.locales ['ru'] = {
        closeText: 'Закрыть',
        prevText: 'Назад',
        nextText: 'Вперёд',
        monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
        dayNames: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Субота'],
        dayNamesShort: ['Воск', 'Пон', 'Вт', 'Ср', 'Четв', 'Пят', 'Суб'],
        dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср ', 'Чт', 'Пт ', 'Сб'],
        weekHeader: 'Неделя',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: '',
        timeOnlyTitle: 'Только время',
        timeText: 'Время',
        hourText: 'Час',
        minuteText: 'Минута',
        secondText: 'Секунда',
        currentText: 'Текущее',
        ampm: false,
        month: 'Месяц',
        week: 'неделя',
        day: 'День',
        allDayText: 'Весь день'
    };
</script>

<h:form>
    <p:growl id="idlemessages" showDetail="true" sticky="true"/>
    <p:idleMonitor timeout="1800000">
        <p:ajax event="idle" listener="#{authorizationBean.redirect()}" update="idlemessages"/>
    </p:idleMonitor>
</h:form>
<h:form prependId="false">

    <p:menubar style="float:left">
        <p:menuitem value="Пользователь" url="/user/user_page.xhtml"/>
        <p:menuitem value="Менеджер очередей" url="/user/queue_manager.xhtml"/>
        <p:menuitem value="Выйти" actionListener="#{authBean.logout()}"/>
    </p:menubar>
    <h:outputText value="#{authBean.username}" style="float:right"/>
</h:form>
</html>
