<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/layouts/private.xhtml">

    <ui:define name="top-content">

    </ui:define>

    <ui:define name="content">


        <h:form enctype="multipart/form-data">
            <p:tabView>
                <p:tab title="#{msgs.country}">
                    <h:panelGrid columns="1" styleClass="form-table" columnClasses="form-table-odd-col"
                                 style="width: 440px;">
                        <h:form enctype="multipart/form-data">
                            <p:fileUpload value="#{countryBean.file}" mode="simple" skinSimple="true"/>
                            <br/>
                            <h:panelGroup>
                                <h:commandButton value="#{msgs.save}" action="#{countryBean.uploadFile}" styleClass="btn btn-green"/>
                                <h:commandButton value="#{msgs.cancel}" action="#{countryBean.back}"
                                                 styleClass="btn btn-orange m-lft"
                                                 immediate="true"/>
                            </h:panelGroup>
                        </h:form>
                    </h:panelGrid>
                </p:tab>
            </p:tabView>
        </h:form>

    </ui:define>
</ui:composition>
