<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/layouts/private.xhtml">

    <ui:define name="top-content">

    </ui:define>

    <ui:define name="content">


        <h:form id="form" prependId="false">
            <f:view>
                <f:event type="preRenderView" listener="#{salespointWarehouseBean.init}"/>
            </f:view>
            <p:growl sticky="true"/>

            <p:tabView>

                <p:tab title="#{msgs.salespointWarehouse}">
                    <h:panelGrid id="currency" columns="2" styleClass="form-table" columnClasses="form-table-odd-col"
                                 style="width: 440px;">

                        <h:outputLabel for="price" value="#{msgs.price}"/>
                        <p:inputText value="#{salespointWarehouseBean.entity.price}" id="price" styleClass="w-1-1"
                                     required="true" requiredMessage="#{msgs.title} - #{errs.requiredField}"/>
                        <h:outputLabel for="discount" value="#{msgs.discount}"/>
                        <p:inputText value="#{salespointWarehouseBean.entity.discount}" id="discount" styleClass="w-1-1"
                                     required="true" requiredMessage="#{msgs.title} - #{errs.requiredField}"/>

                        <h:outputLabel for="top" value="#{msgs.topsales}"/>
                        <p:selectBooleanCheckbox id="top" value="#{salespointWarehouseBean.top}" styleClass="w-1-1"
                                                 required="true" requiredMessage="#{msgs.topsales} - #{errs.requiredField}"/>

                        <h:outputLabel for="promo" value="#{msgs.promosales}"/>
                        <p:selectBooleanCheckbox id="promo" value="#{salespointWarehouseBean.promo}" styleClass="w-1-1"
                                                 required="true" requiredMessage="#{msgs.promosales} - #{errs.requiredField}"/>

                        <h:outputLabel for="to" value="#{msgs.salespoint}"/>
                        <p:selectOneMenu id="to" value="#{salespointWarehouseBean.entity.salespoint}" styleClass="w-1-1"
                                         required="true" requiredMessage="#{msgs.to} - #{errs.requiredField}"
                                         converter="cachedConverter">
                            <f:selectItem itemLabel="#{msgs.select}" noSelectionOption="true"/>
                            <f:selectItems value="#{salespointWarehouseBean.salespoints}" var="to" itemValue="#{to}"
                                           itemLabel="#{to.name}"/>
                        </p:selectOneMenu>
                        <h:commandButton value="#{msgs.add}" action="#{salespointWarehouseBean.addEntity}"
                                         styleClass="btn btn-blue f-lft m-lft">
                            <f:ajax execute="currency table" render="currency table"/>
                        </h:commandButton>
                    </h:panelGrid>
                    <p:dataTable id="table" value="#{salespointWarehouseBean.list}" var="warehouse" paginator="false"
                                 tableStyleClass="display-table no-border no-bg text-left">
                        <p:column headerText="#{msgs.products}">
                            #{warehouse.products.name}
                        </p:column>
                        <p:column headerText="#{msgs.salespoint}">
                            #{warehouse.salespoint.name}
                        </p:column>
                        <p:column headerText="#{msgs.price}">
                            #{warehouse.price}
                        </p:column>
                        <p:column headerText="#{msgs.discount}">
                            #{warehouse.discount}
                        </p:column>
                        <p:column headerText="#{msgs.topsales}">
                            <p:selectBooleanCheckbox  value="#{warehouse!=null ?salespointWarehouseBean.getTopSales(warehouse):false}" disabled="true"/>
                        </p:column>
                        <p:column headerText="#{msgs.promosales}">
                            <p:selectBooleanCheckbox value="#{warehouse!=null ?salespointWarehouseBean.getPromoSales(warehouse):false}" disabled="true"/>
                        </p:column>
                        <p:column style="width: 50px; text-align: center;">
                            <f:facet name="header">
                                <i class="fa fa-lg fa-gear"/>
                            </f:facet>
                            <p:commandLink action="#{salespointWarehouseBean.delete(warehouse)}" styleClass="btn-mng"
                                           ajax="false" immediate="true">
                                <i class="fa fa-lg fa-trash"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:tab>
            </p:tabView>

            <h:panelGroup/>
            <h:panelGroup>
                <h:commandButton value="#{msgs.back}" action="#{salespointWarehouseBean.back}"
                                 styleClass="btn btn-orange m-lft"
                                 immediate="true"/>
            </h:panelGroup>

        </h:form>

    </ui:define>
</ui:composition>
