<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/layouts/private.xhtml">

    <ui:define name="top-content">

    </ui:define>

    <ui:define name="content">


        <h:form id="form" prependId="false">
            <f:view>
                <f:event type="preRenderView" listener="#{salespointCurrencyBean.init}"/>
            </f:view>
            <p:growl sticky="true"/>

            <p:tabView>

                <p:tab title="#{msgs.salespoint}">
                    <h:panelGrid id="currency" columns="2" styleClass="form-table" columnClasses="form-table-odd-col"
                                 style="width: 440px;">

                        <h:outputLabel for="surname" value="#{msgs.isDefault}"/>
                        <p:selectBooleanCheckbox id="surname" value="#{salespointCurrencyBean.entity.common}" styleClass="w-1-1"
                                                 required="true" requiredMessage="#{msgs.isDefault} - #{errs.requiredField}"/>

                        <h:outputLabel for="tradepoint" value="#{msgs.currencies}"/>
                        <p:selectOneMenu id="tradepoint" value="#{salespointCurrencyBean.entity.currency}" styleClass="w-1-1"
                                         required="true" requiredMessage="#{msgs.tradepoint} - #{errs.requiredField}"
                                         converter="cachedConverter">
                            <f:selectItem itemLabel="#{msgs.selectCurrency}" noSelectionOption="true"/>
                            <f:selectItems value="#{salespointCurrencyBean.currencies}" var="cat" itemValue="#{cat}"
                                           itemLabel="#{cat.name}"/>
                        </p:selectOneMenu>
                        <h:commandButton value="#{msgs.add}" action="#{salespointCurrencyBean.addEntity}"
                                         styleClass="btn btn-blue f-lft m-lft">
                            <f:ajax execute="currency table" render="currency table"/>
                        </h:commandButton>

                    </h:panelGrid>
                    <p:dataTable id="table" value="#{salespointCurrencyBean.list}" var="curr" paginator="false"
                                 tableStyleClass="display-table no-border no-bg text-left">
                        <p:column headerText="#{msgs.title}">
                            #{curr.currency.name}
                        </p:column>
                        <p:column headerText="#{msgs.isDefault}">
                            <p:selectBooleanCheckbox value="#{curr.common}" disabled="true"/>
                        </p:column>
                        <p:column style="width: 50px; text-align: center;">
                            <f:facet name="header">
                                <i class="fa fa-lg fa-gear"/>
                            </f:facet>
                            <p:commandLink action="#{salespointCurrencyBean.delete(curr)}" styleClass="btn-mng"
                                           ajax="false" immediate="true">
                                <i class="fa fa-lg fa-trash"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:tab>
            </p:tabView>

            <h:panelGroup/>
            <h:panelGroup>
                <h:commandButton value="#{msgs.back}" action="#{salespointCurrencyBean.back}"
                                 styleClass="btn btn-orange m-lft"
                                 immediate="true"/>
            </h:panelGroup>

        </h:form>

    </ui:define>
</ui:composition>
