<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/layouts/private.xhtml">

    <ui:define name="top-content">
        <h:form prependId="false">
            <h:commandButton value="#{msgs.add}" action="#{currenciesBean.add}" styleClass="btn btn-blue f-rht"/>
        </h:form>
    </ui:define>

    <ui:define name="content">
        <h:form id="form" prependId="false">
            <f:view>
                <f:event type="preRenderView" listener="#{currenciesBean.init}"/>
            </f:view>
            <p:growl/>
            <p:dataTable id="table" var="currencies" value="#{currenciesBean.list}"
                         editable="true" rows="25" rowKey="#{currencies.id}" lazy="true" multiViewState="true"
                         paginator="true" paginatorPosition="bottom"
                         tableStyleClass="display-table no-border no-bg text-left"
                         paginatorTemplate="{PreviousPageLink} {PageLinks} {NextPageLink} {RowsPerPageDropdown} {CurrentPageReport}">

                <p:column headerText="#{msgs.id}" width="60">
                    <h:outputText value="#{currencies.id}"/>
                </p:column>
                <p:column headerText="#{msgs.title}">
                    <h:outputText value="#{currencies.name}"/>
                </p:column>
                <p:column headerText="#{msgs.code}">
                    <h:outputText value="#{currencies.code}"/>
                </p:column>
                <p:column headerText="#{msgs.currencyExchange}" style="text-align: center;">
                    <h:panelGroup id="exhchange" styleClass="user-categories-tooltip">
                        #{currencyExchangeBean.getRates(currencies).size()}
                        <p:tooltip for="exhchange" position="right">
                            <p:dataList value="#{currencyExchangeBean.getRates(currencies)}" var="rate">
                                #{rate.to.name}=#{rate.exchangeRate}
                            </p:dataList>
                        </p:tooltip>
                    </h:panelGroup>

                </p:column>
                <p:column style="text-align: center; width: 100px">
                    <f:facet name="header">
                        <i class="fa fa-lg fa-gear"/>
                    </f:facet>
                    <p:commandLink action="#{currenciesBean.edit(currencies)}" styleClass="btn-mng" ajax="false">
                        <i class="fa fa-lg fa-pencil"/>
                    </p:commandLink>
                    <p:commandLink action="#{currencyExchangeBean.exchange(currencies)}" styleClass="btn-mng" ajax="false">
                        <i class="fa fa-lg fa-exchange"/>
                    </p:commandLink>
                    <p:commandLink action="#{currenciesBean.delete(currencies)}" styleClass="btn-mng" title="#{msgs.delete}"
                                   ajax="false">
                        <p:confirm header="#{msgs.deletion}" message="#{msgs.confirmDeletion}"
                                   icon="ui-icon-alert"/>
                        <i class="fa fa-lg fa-trash"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>
            <p:confirmDialog global="true" showEffect="fade" closeOnEscape="true" severity="info" id="deletecurrencies">
                <p:commandLink type="button" styleClass="btn btn-green ui-confirmdialog-yes">
                    <i class="fa fa-lg fa-check"/>
                </p:commandLink>
                <p:commandLink type="button" styleClass="btn btn-red ui-confirmdialog-no m-lft">
                    <i class="fa fa-lg fa-close"/>
                </p:commandLink>
            </p:confirmDialog>
        </h:form>
    </ui:define>
</ui:composition>
