<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/layouts/private.xhtml">

    <ui:define name="top-content">
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
            var currentMarker = null;

            function handlePointClick(event) {
                if(currentMarker === null) {
                    document.getElementById('lat').value = event.latLng.lat();
                    document.getElementById('lng').value = event.latLng.lng();

                    currentMarker = new google.maps.Marker({
                        position:new google.maps.LatLng(event.latLng.lat(), event.latLng.lng())
                    });

                    PF('map').addOverlay(currentMarker);

                    PF('dlg').show();
                }
            }

            function markerAddComplete() {
                var title = document.getElementById('title');
                currentMarker.setTitle(title.value);
                title.value = "";

                currentMarker = null;
                PF('dlg').hide();
            }

            function cancel() {
                PF('dlg').hide();
                currentMarker.setMap(null);
                currentMarker = null;

                return false;
            }
        </script>
    </ui:define>

    <ui:define name="content">


        <h:form id="form" prependId="false">
            <p:growl id="messages" showDetail="true" />

            <p:tabView>

                <p:tab title="#{msgs.seller}">
                    <h:panelGrid columns="4" styleClass="form-table" columnClasses="form-table-odd-col"
                                 style="width: 640px;">
                            <p:tab title="#{msgs.map}" >
                                <p:gmap id="gmap" center="42.8646121,74.5308545" zoom="13" type="ROADMAP" style="width:100%;height:400px"
                                        model="#{salespointDetailsBean.emptyModel}" onPointClick="handlePointClick(event);" widgetVar="map" />
                            </p:tab>

                    </h:panelGrid>
                </p:tab>
            </p:tabView>

            <h:panelGroup/>
            <h:panelGroup>
                <h:commandButton value="#{msgs.save}" action="#{salespointDetailsBean.save}" styleClass="btn btn-green"/>
                <h:commandButton value="#{msgs.cancel}" action="#{salespointDetailsBean.back}"
                                 styleClass="btn btn-orange m-lft"
                                 immediate="true"/>
            </h:panelGroup>

            <p:dialog widgetVar="dlg" showEffect="fade">
                <h:panelGrid columns="2">
                    <f:facet name="footer">
                        <p:commandButton value="Add" action="#{salespointDetailsBean.addMarker}" update="messages" oncomplete="markerAddComplete();PF('dlg').hide();" />
                        <p:commandButton value="Cancel" onclick="return cancel()" />
                    </f:facet>
                </h:panelGrid>

                <h:inputHidden id="lat" value="#{salespointDetailsBean.lat}" />
                <h:inputHidden id="lng" value="#{salespointDetailsBean.lon}" />
            </p:dialog>

        </h:form>



    </ui:define>
</ui:composition>
