<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/layouts/private.xhtml">

    <ui:define name="top-content">

    </ui:define>

    <ui:define name="content">


        <h:form id="form" prependId="false">
            <p:growl sticky="true"/>

            <p:tabView>

                <p:tab title="#{msgs.product}">
                    <h:panelGrid columns="2" styleClass="form-table" columnClasses="form-table-odd-col"
                                 style="width: 440px;">

                        <h:outputLabel for="name" value="#{msgs.title}"/>
                        <p:inputText value="#{productBean.entity.name}" id="name" styleClass="w-1-1"
                                     required="true" requiredMessage="#{msgs.title} - #{errs.requiredField}"/>

                        <h:outputLabel for="surname" value="#{msgs.description}"/>
                        <p:inputText value="#{productBean.entity.description}" id="surname" styleClass="w-1-1"
                                     required="true" requiredMessage="#{msgs.description} - #{errs.requiredField}"/>

                        <h:outputLabel for="category" value="#{msgs.category}"/>
                        <p:selectOneMenu id="category" value="#{productBean.entity.category}" styleClass="w-1-1"
                                         required="true" requiredMessage="#{msgs.category} - #{errs.requiredField}"
                                         converter="cachedConverter">
                            <f:selectItem itemLabel="#{msgs.selectCategory}" noSelectionOption="true"/>
                            <f:selectItems value="#{productBean.categories}" var="cat" itemValue="#{cat}"
                                           itemLabel="#{cat.name}"/>
                            <f:ajax render="subcatory-blc"/>
                        </p:selectOneMenu>

                        <h:outputLabel for="subcategory" value="#{msgs.subcategory}"/>
                        <h:panelGroup id="subcatory-blc">
                            <p:selectOneMenu id="subcategory" value="#{productBean.entity.subcategory}"
                                             styleClass="w-1-1"
                                             required="true"
                                             requiredMessage="#{msgs.subcategory} - #{errs.requiredField}"
                                             converter="cachedConverter">
                                <f:selectItem itemLabel="#{msgs.selectSubCategory}" noSelectionOption="true"/>
                                <f:selectItems value="#{productBean.subcategories}" var="subcat" itemValue="#{subcat}"
                                               itemLabel="#{subcat.name}"/>
                                <f:selectItem value="#{null}" itemLabel="#{msgs.no}"/>
                            </p:selectOneMenu>
                        </h:panelGroup>

                        <h:outputLabel for="brand" value="#{msgs.brands}"/>
                        <p:selectOneMenu id="brand" value="#{productBean.entity.brands}" styleClass="w-1-1"
                                         required="true" requiredMessage="#{msgs.brands} - #{errs.requiredField}"
                                         converter="cachedConverter">
                            <f:selectItem itemLabel="#{msgs.selectBrand}" noSelectionOption="true"/>
                            <f:selectItems value="#{productBean.brands}" var="brand" itemValue="#{brand}"
                                           itemLabel="#{brand.name}"/>
                        </p:selectOneMenu>

                    </h:panelGrid>
                </p:tab>
            </p:tabView>

            <h:panelGroup/>
            <h:panelGroup>
                <h:commandButton value="#{msgs.save}" action="#{productBean.save}" styleClass="btn btn-green"/>
                <h:commandButton value="#{msgs.cancel}" action="#{productBean.back}"
                                 styleClass="btn btn-orange m-lft"
                                 immediate="true"/>
            </h:panelGroup>

        </h:form>

    </ui:define>
</ui:composition>
