<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/layouts/private.xhtml">

    <ui:define name="top-content">

    </ui:define>

    <ui:define name="content">


        <h:form id="form" prependId="false">
            <p:growl sticky="true"/>

            <p:tabView>
                <p:tab title="#{msgs.params}">
                    <h:panelGrid columns="2" styleClass="form-table" style="width: 440px;">
                        <h:panelGroup id="parameters">
                            <h:outputLabel for="key" value="#{msgs.key}"/>
                            <p:inputText value="#{productBean.key}" id="key" styleClass="w-1-1"
                                         required="true" requiredMessage="#{msgs.title} - #{errs.requiredField}"/>
                            <h:outputLabel for="value" value="#{msgs.value}"/>
                            <p:inputText value="#{productBean.value}" id="value" styleClass="w-1-1"
                                         required="true" requiredMessage="#{msgs.title} - #{errs.requiredField}"/>

                            <h:commandButton value="#{msgs.add}" action="#{productBean.addParam}"
                                             styleClass="btn btn-blue f-lft m-lft">
                                <f:ajax execute="parameters table" render="parameters table"/>
                            </h:commandButton>
                            <div class="clear"></div>

                            <p:dataTable id="table" value="#{productBean.paramList}" var="par" paginator="false" rowIndexVar="id"
                                         tableStyleClass="display-table no-border no-bg text-left">
                                <p:column>
                                    <h:outputText value="#{id+1}" />
                                </p:column>
                                <p:column headerText="#{msgs.key}">
                                    <h:outputText value="#{par.key}"/>
                                </p:column>
                                <p:column headerText="#{msgs.value}">
                                    <h:outputText value="#{par.value}"/>
                                </p:column>
                                <p:column style="width: 50px; text-align: center;">
                                    <f:facet name="header">
                                        <i class="fa fa-lg fa-gear"/>
                                    </f:facet>
                                    <p:commandLink action="#{productBean.removeParam(par)}" styleClass="btn-mng"
                                                   ajax="false" immediate="true">
                                        <i class="fa fa-lg fa-trash"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </h:panelGrid>
                </p:tab>
            </p:tabView>

            <h:panelGroup/>
            <h:panelGroup>
                <h:commandButton value="#{msgs.back}" action="#{productBean.back}"
                                 styleClass="btn btn-orange m-lft"
                                 immediate="true"/>
            </h:panelGroup>

        </h:form>

    </ui:define>
</ui:composition>
