<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html">


    <div class="infocom-blc copy t-ctr">
        <h:outputLink value="http://equeue.acskg.info">
            <h:outputText value="&#169; #{utilBean.year}"/>
        </h:outputLink>
    </div>

</ui:composition>