<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/layouts/private.xhtml">

    <ui:define name="top-content">

    </ui:define>

    <ui:define name="content">


        <h:form id="form" prependId="false">
            <p:growl sticky="true"/>

            <p:tabView>

                <p:tab title="#{msgs.subcategory}">
                    <h:panelGrid columns="2" styleClass="form-table" columnClasses="form-table-odd-col"
                                 style="width: 440px;">

                        <h:outputLabel for="name" value="#{msgs.title}"/>
                        <p:inputText value="#{subCategoryBean.entity.name}" id="name" styleClass="w-1-1"
                                     required="true" requiredMessage="#{msgs.title} - #{errs.requiredField}"/>

                        <h:outputLabel for="category" value="#{msgs.category}"/>
                        <p:selectOneMenu id="category" value="#{subCategoryBean.entity.category}" styleClass="w-1-1"
                                         required="true" requiredMessage="#{msgs.category} - #{errs.requiredField}"
                                         converter="cachedConverter">
                            <f:selectItem itemLabel="#{msgs.selectCategory}" noSelectionOption="true"/>
                            <f:selectItems value="#{subCategoryBean.categories}" var="cat" itemValue="#{cat}"
                                           itemLabel="#{cat.name}"/>
                        </p:selectOneMenu>

                    </h:panelGrid>
                </p:tab>
            </p:tabView>

            <h:panelGroup/>
            <h:panelGroup>
                <h:commandButton value="#{msgs.save}" action="#{subCategoryBean.save}" styleClass="btn btn-green"/>
                <h:commandButton value="#{msgs.cancel}" action="#{subCategoryBean.back}"
                                 styleClass="btn btn-orange m-lft"
                                 immediate="true"/>
            </h:panelGroup>

        </h:form>

    </ui:define>
</ui:composition>
