<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="public.xhtml">

    <ui:define name="outer-wrap-content">
        <div id="wrap-content">
            <div class="content-auction grid">
                <ui:insert name="content"/>
            </div>
        </div>
    </ui:define>

</ui:composition>