<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="private.xhtml">

    <ui:param name="styleClass" value="top-content-settings"/>

    <ui:define name="top-content">
        <ui:include src="../private/settings-top-content.xhtml"/>
    </ui:define>

</ui:composition>