<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="base.xhtml">

    <ui:define name="head">
    </ui:define>

    <ui:define name="outer-wrap-header"/>

    <ui:define name="content">

        <div class="sign-logo">
            <h:link outcome="home">
                <h:graphicImage library="gfx" name="acs-logo_white.png"/>
            </h:link>
        </div>

        <div class="sign-blc">

            <div class="sign-content">
                <ui:insert name="sign-content"/>
            </div>

        </div>
    </ui:define>

</ui:composition>
