<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/layouts/private.xhtml">

    <ui:define name="top-content">

    </ui:define>

    <ui:define name="content">


        <h:form id="form" prependId="false">
            <p:growl sticky="true"/>

            <p:tabView>

                <p:tab title="#{msgs.tradepoint}">
                    <h:panelGrid columns="2" styleClass="form-table" columnClasses="form-table-odd-col"
                                 style="width: 440px;">

                        <h:outputLabel for="name" value="#{msgs.title}"/>
                        <p:inputText value="#{tradepointBean.entity.name}" id="name" styleClass="w-1-1"
                                     required="true" requiredMessage="#{msgs.title} - #{errs.requiredField}"/>

                        <h:outputLabel for="surname" value="#{msgs.visible}"/>
                        <p:selectBooleanCheckbox id="surname" value="#{tradepointBean.entity.visible}" styleClass="w-1-1"
                                                 required="true" requiredMessage="#{msgs.code} - #{errs.requiredField}"/>
                        <h:outputLabel for="surname" value="#{msgs.countries}"/>
                        <p:selectOneMenu id="country" value="#{tradepointBean.entity.country}" styleClass="w-1-1"
                                         required="true" requiredMessage="#{msgs.country} - #{errs.requiredField}"
                                         converter="cachedConverter">
                            <f:selectItem itemLabel="#{msgs.selectCountry}" noSelectionOption="true"/>
                            <f:selectItems value="#{tradepointBean.countries}" var="cat" itemValue="#{cat}"
                                           itemLabel="#{cat.name}"/>
                        </p:selectOneMenu>

                        <h:outputLabel for="roles" value="#{msgs.shoptype}"/>
                        <p:selectOneMenu id="roles" value="#{tradepointBean.entity.type}" styleClass="w-1-1"
                                         required="true" requiredMessage="#{msgs.shoptype} - #{errs.requiredField}"
                                         converter="enumConverter">
                            <f:selectItem itemLabel="#{msgs.selectShopType}" noSelectionOption="true"/>
                            <f:selectItems value="#{tradepointBean.types}" var="type" itemValue="#{type}"
                                           itemLabel="#{enums[type]}"/>
                        </p:selectOneMenu>



                    </h:panelGrid>
                </p:tab>
            </p:tabView>

            <h:panelGroup/>
            <h:panelGroup>
                <h:commandButton value="#{msgs.save}" action="#{tradepointBean.save}" styleClass="btn btn-green"/>
                <h:commandButton value="#{msgs.cancel}" action="#{tradepointBean.back}"
                                 styleClass="btn btn-orange m-lft"
                                 immediate="true"/>
            </h:panelGroup>

        </h:form>

    </ui:define>
</ui:composition>
