<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/layouts/sign.xhtml">

    <ui:define name="sign-content">

        <h:form styleClass="form-blc form-sign-blc" id="sign-blc-form" prependId="false">

            <div class="form-blc-header t-ctr t-up m-btm">
                <h:outputText value="#{msgs.signInToSystem}" styleClass="sign-blc-heading text-up"/>
            </div>
            <p:growl sticky="true"/>

            <div class="form-blc-input-wrap">
                <p:inputText value="#{authBean.username}" id="phone-number" autocomplete="off"
                             required="true" requiredMessage="#{errs.enterUsername}"
                             styleClass="form-blc-input" tabindex="1"
                             name="phone-number"/>
                <p:watermark value="#{msgs.username}" for="phone-number"/>
            </div>
            <div class="form-blc-input-wrap">
                <p:password value="#{authBean.password}" id="password" redisplay="true" autocomplete="off"
                            required="true" requiredMessage="#{errs.enterPassword}"
                            styleClass="form-blc-input" tabindex="2"/>
                <p:watermark value="#{msgs.password}" for="password"/>
            </div>

            <div class="clear"></div>

            <h:commandButton value="#{msgs.signIn}" action="#{authBean.login}"
                             styleClass="form-blc-input btn btn-blue" tabindex="3">
            </h:commandButton>

            <ui:remove>
                <div class="sign-links">
                    <h:commandButton value="Создать" action="#{authBean.add()}"/>
                    <h:link value="#{msgs.forgotPassword}" outcome="restore" styleClass="sign-link"/><br/>
                    <h:link value="#{msgs.registration}" outcome="registration" styleClass="sign-link"/>
                </div>
            </ui:remove>
        </h:form>
    </ui:define>

</ui:composition>
