<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/layouts/private.xhtml">

    <ui:define name="top-content">

    </ui:define>

    <ui:define name="content">


        <h:form id="form" prependId="false">
            <p:growl sticky="true"/>

            <p:tabView>

                <p:tab title="#{msgs.order}">
                    <h:panelGrid columns="2" styleClass="form-table" columnClasses="form-table-odd-col"
                                 style="width: 440px;">

                        <h:outputLabel for="flightdate" value="#{msgs.flightdate}"/>
                        <p:inputText value="#{orderDetailsBean.entity.flightDate}" id="flightdate" styleClass="w-1-1" disabled="true"
                                     required="true" requiredMessage="#{msgs.flightdate} - #{errs.requiredField}"/>

                        <h:outputLabel for="fio" value="#{msgs.fio}"/>
                        <p:inputText value="#{orderDetailsBean.entity.fio}" id="fio" styleClass="w-1-1" disabled="true"
                                     required="true" requiredMessage="#{msgs.fio} - #{errs.requiredField}"/>

                        <h:outputLabel for="phone" value="#{msgs.phone}"/>
                        <p:inputText value="#{orderDetailsBean.entity.phone}" id="phone" styleClass="w-1-1" disabled="true"
                                     required="true" requiredMessage="#{msgs.phone} - #{errs.requiredField}"/>

                        <h:outputLabel for="orderid" value="#{msgs.orderid}"/>
                        <p:inputText value="#{orderDetailsBean.entity.orderId}" id="orderid" styleClass="w-1-1" disabled="true"
                                     required="true" requiredMessage="#{msgs.orderid} - #{errs.requiredField}"/>

                    </h:panelGrid>
                    <p:dataTable id="table" value="#{orderDetailsBean.ordersList}" var="orderDetails" paginator="false"
                                 tableStyleClass="display-table no-border no-bg text-left">
                        <p:column headerText="#{msgs.orderid}">
                            #{orderDetails.orderId}
                        </p:column>
                        <p:column headerText="#{msgs.product}">
                            #{orderDetails.warehouse.products.name}
                        </p:column>
                        <p:column headerText="#{msgs.salespoint}">
                            #{orderDetails.warehouse.salespoint.name}
                        </p:column>
                        <p:column headerText="#{msgs.price}">
                            #{orderDetails.warehouse.price}
                        </p:column>
                        <p:column headerText="#{msgs.quantity}">
                            #{orderDetails.quantity}
                        </p:column>
                        <p:column headerText="#{msgs.totalprice}">
                            #{(orderDetails.quantity*orderDetails.warehouse.price)}
                        </p:column>
                    </p:dataTable>
                </p:tab>
            </p:tabView>

            <h:panelGroup/>
            <h:panelGroup>
                <h:commandButton value="#{msgs.save}" action="#{orderDetailsBean.save}" styleClass="btn btn-green"/>
                <h:commandButton value="#{msgs.back}" action="#{orderDetailsBean.back}"
                                 styleClass="btn btn-orange m-lft"
                                 immediate="true"/>
            </h:panelGroup>

        </h:form>

    </ui:define>
</ui:composition>
